.add-components{
    background-image: url('/public/image/car32.jpg') ;
    height: 120vh;
    object-fit: cover;
    margin-top: 0px;
    
}
.main{
    opacity:1;
    margin-top: 50px;
    background: local;
}
.title{
    color:rgb(252, 248, 248);
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-transform: uppercase;
    
}