.add-components{
    display: flex;
    align-items: center;justify-content: center;
    flex-direction: column;
    margin-top: 100px;
  
}
.title{
    font-family: 'Times New Roman', Times, serif;

}
.add-btn{
   width: 100px;
   height: 50px;
   border-color: azure;
}


