/* .header {
    background-color: #ffffff;
    margin-top: 50px;
    z-index: 9999;
    color: #fff;
    line-height: 120px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 28px;
}


section.error-404 .page-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.section-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

@media (min-width: 768px) {
    .section-md-0 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .d-md-block {
        display: block !important;
    }
}

.box-offer-wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 767.98px) {
    .box-offer-wrap {
        margin-bottom: 30px;
    }
}

@media (min-width: 576px) {
    .box-offer-wrap {
        flex-wrap: wrap;
        display: flex;
    }
}

@media (min-width: 768px) {
    .box-offer-wrap {
        display: flex;
        justify-content: space-around;
    }

    .section-md-80 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media (min-width: 1200px) {

    .box-offer-wrap {
        flex-wrap: nowrap;
    }
}

@media (min-width: 1091px) {
    .list-inline-dashed-lg>* {
        position: relative;
    }

    .list-inline-dashed-lg>*:after {
        content: '';
        position: absolute;
        top: 50%;
        right: -2px;
        width: 1px;
        height: 190px;
        margin-top: 2px;
        background: #ebebeb;
        transform: translateY(-50%);
    }

    .list-inline-dashed-lg>*:last-child:after {
        display: none;
    }
}

@media (min-width: 576px) {
    .section-sm-60 {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.d-inline-block {
    display: inline-block !important;
}

@media (min-width: 1200px) and (min-width: 1200px) {

    .d-inline-block+.d-inline-block,
    .d-inline-block+.d-inline-block {
        margin-left: 50px;
    }
}

.car-icon {
    height: 50px;
    object-fit: cover;
    display: inline-flex;

    flex-direction: column;
    justify-content: center;
}

html .page .offset-top-20 {
    margin-top: 20px;

}

.titles {
    text-align: center;
}

.divider {
    width: 50px;
    height: 3px;
    padding: 0;
    margin: 5px auto;
    background-image: linear-gradient(to right, #fed267 20%, #cf9b48 80%);
    background-repeat: repeat-x;
    border: none;
    transition: .3s all ease;
    background: transparent;
    background-image: linear-gradient(to right, #fed267 20%, #cf9b48 80%);
    background-repeat: repeat-x;
}

.divider-xs {
    width: 30px;
    height: 3px;
}

.bg-bermuda {
    background-image: linear-gradient(to right, #fed267 20%, #cf9b48 80%);
    background-repeat: repeat-x;
}

.link {
    text-decoration: none;
    text-align: center;
} */
